<!--用户注册页面-->
<div class="register_account">
	<div class="wrap">
		<h4 class="title">注册新用户</h4>
		<form name="myForm" novalidate>
			<div class="col_1_of_2 span_1_of_2">
				<div><input type="text" name="firstnameInput" ng-model="firstname" placeholder="Your first name" required></div>
					 <span style="color:red" ng-show="myForm.firstnameInput.$dirty && myForm.firstnameInput.$invalid">
						 <span ng-show="myForm.firstnameInput.$error.required">first name 不能为空</span>
					 </span>

				<div><input type="text" name="lastnameInput" ng-model="lastname" placeholder="Your last name" required></div>
					 <span style="color:red" ng-show="myForm.lastnameInput.$dirty && myForm.lastnameInput.$invalid">
						 <span ng-show="myForm.lastnameInput.$error.required">last name 不能为空</span>
					 </span>


				<div><input type="email" style="" class="inputbox" name="EmailInput" ng-model="Email" placeholder="Your Email" required></div>
					 <span style="color:red" ng-show="myForm.EmailInput.$dirty && myForm.EmailInput.$invalid">
						 <span ng-show="myForm.EmailInput.$error.required">邮箱不能为空</span>
						 <span ng-show="myForm.EmailInput.$error.email">非法的邮箱地址</span>
					 </span>


				<div><input type="password" class="inputbox" name="passwordInput" ng-model="password" placeholder="Password" required></div>
					 <span style="color:red" ng-show="myForm.passwordInput.$dirty && myForm.passwordInput.$invalid">
						 <span ng-show="myForm.passwordInput.$error.required">密码不能为空</span>
					 </span>
			</div>


			<div class="col_1_of_2 span_1_of_2">

				<div>
					<select id="country" ng-model="city" class="frm-field required">
						<option value="null" selected="selected">选择城市</option>
						<option value="AX">北京</option>
						<option value="AF">上海</option>
						<option value="AL">广州</option>
						<option value="DZ">深圳</option>
					</select>
				</div>

				<div><input type="text" name="addressInput" ng-model="address" placeholder="address" required></div>
					<span style="color:red" ng-show="myForm.addressInput.$dirty && myForm.addressInput.$invalid">
						 <span ng-show="myForm.addressInput.$error.required">地址不能为空</span>
					 </span>

				<div><input type="text" name="ageInput" ng-model="age" placeholder="age" required></div>
					<span style="color:red" ng-show="myForm.ageInput.$dirty && myForm.ageInput.$invalid">
						 <span ng-show="myForm.ageInput.$error.required">年龄不能为空</span>
					 </span>

				<div><input type="text" name="telephoneInput" ng-model="telephone" placeholder="电话号码" required></div>
					<span style="color:red" ng-show="myForm.telephoneInput.$dirty && myForm.telephoneInput.$invalid">
						 <span ng-show="myForm.telephoneInput.$error.required">电话号码不能为空</span>
					 </span>

			</div>


			<button class="grey" ng-click="userRegister()">提交</button>

			<p class="terms">By clicking 'Create Account' you agree to the <a href="#">Terms &amp; Conditions</a>.</p>
			<div class="clear"></div>
		</form>
	</div>
</div>