
<!--商品详细信息页面-->
<div class="mens">    
  <div class="main">
     <div class="wrap">
     	<ul class="breadcrumb breadcrumb__t"><a class="home" ui-sref="customer.home">Home</a> / <a ui-sref="customer.shopCart">Cart</a> / {{ production.name }}</ul>
		<div class="cont span_2_of_3">
		  	<div class="grid images_3_of_2">
				<img src="{{ production.imgData }}">
	            </div>
		         <div class="desc1 span_3_of_2">
		         	<h3 class="m_3">商品名称：{{ production.name }}</h3>
		             <p class="m_5">价格：${{ production.price }}</p>
		         	 <div class="btn_form">
						<form>
							<input type="submit" value="buy" ng-click="addToCart(production)">
						</form>
					 </div>
					<span class="m_link">详情介绍 </span>
				     <p class="m_text2">{{ production.info }}</p>
			     </div>
			   <div class="clear"></div>	
	    <div class="clients">
	    <h3 class="m_3">10 Other Products in the same category</h3>
		 <ul id="flexiselDemo3">
			<!--<li><img src="images/s5.jpg" /><a href="#">Category</a><p>Rs 600</p></li>-->
			<!--<li><img src="images/s6.jpg" /><a href="#">Category</a><p>Rs 850</p></li>-->
			<!--<li><img src="images/s7.jpg" /><a href="#">Category</a><p>Rs 900</p></li>-->
			<!--<li><img src="images/s8.jpg" /><a href="#">Category</a><p>Rs 550</p></li>-->
			<!--<li><img src="images/s9.jpg" /><a href="#">Category</a><p>Rs 750</p></li>-->
		 </ul>
     </div>
     <div class="toogle">
     	<h3 class="m_3">Product Details</h3>
     	<p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
     </div>
     <div class="toogle">
     	<h3 class="m_3">More Information</h3>
     	<p class="m_text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
     </div>
      </div>
		      <div class="clear"></div>
			</div>
			 <div class="clear"></div>
		   </div>
		</div>