<!--店铺登录页面-->

<div class="login"  ng-show="userRight">
	<div class="col-lg-4"></div>
		<div class="wrap">
			<div class="col_1_of_login span_1_of_login">
				<h4 class="title">如果你想加盟</h4>
				<p>具备最高效感应功能的感光变色镜片!<br><br>室内完全透明，室外时可随光线环境适度变深。得益于我们专有的 Chromea7™变色技术，镜片在各种光线环境下反应更敏捷，
					包括直射阳光、偏射阳光和间接光线 — 例如建筑、车辆和其他表面的反射光<br><br>加入我们，是您最明智的决定……</p>
				<div class="button1">
				   <a ui-sref="store.register">点击创建店铺账户</a>
				 </div>
				 <div class="clear"></div>
			</div>
		</div>
	<div class="clear"></div>
</div>
	<!--店铺页面-->
	<div class="login" ng-hide="userRight">

		<div class="wrap">
			<h4 class="title">我的店铺 <a class="pull-right" ui-sref="store.loadProInfo">管理店铺</a></h4>
			<div class="content-top">
				<form>
					<div class="to">
						<input type="text" class="text" ng-model="shop.company" disabled="disabled">
						<input type="text" class="text"  style="margin-left: 10px" ng-model="shop.Email" disabled="disabled">
					</div>
					<div class="to">
						<input type="text" class="text" ng-model="shop.website" disabled="disabled">
						<input type="text" class="text" style="margin-left: 10px" ng-model="shop.subject" disabled="disabled">
					</div>
					<div class="text">
						<textarea disabled="disabled">{{ shop.message }}</textarea>
					</div>
				</form>
			</div>
		</div>
		<div class="clear"></div>
	</div>

