<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="css/base_css.css" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href='http://fonts.googleapis.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
    <link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body ng-app="app">
<div ui-view></div>
<!--jquery-->
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<!-- Angular -->
<script src="vendor/angular/angular.js"></script>

<script src="vendor/angular/angular-animate/angular-animate.js"></script>
<script src="vendor/angular/angular-cookies/angular-cookies.js"></script>
<!-- Vendor -->
<script src="vendor/angular/angular-ui-router/angular-ui-router.js"></script>

<!--app-->
<script src="js/app/app.js"></script>
<script src="js/app/config.js"></script>
<script src="js/app/router-config.js"></script>
<script src="js/ocLazyLoad.js"></script>
<script src="js/services/ui-load.js"></script>


</body>
</html>