/*购物车内表格宽度*/
.cart-table tbody tr td:nth-child(1){
    width:50px;
}
.cart-table tbody tr td:nth-child(2){
    width:75px;
    height: 75px;
}
.div-border{
    border:solid 0px rgba(10, 10, 10, 0.93);
}
/*控制显示按钮*/
#mycartShow{
    position: fixed;
    right: 25%;
    top:12%;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
    text-align: left;
}
/*购物车*/
#myCart{
    position: fixed;
    top:12%;
    right: 0;
    width: 25%;

}
.seller-table tbody tr td:nth-child(1){
    width:50px;
}
.seller-table tbody tr td:nth-child(2){
    width:75px;
    height: 75px;
}